@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;700;800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap");
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*, *:before, *:after {
  box-sizing: border-box;
}

:focus, :active {
  outline: none;
}

a:focus, a:active {
  outline: none;
}

nav, footer, header, aside {
  display: block;
}

html, body {
  font-family: "Poppins", sans-serif;
  height: 100%;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input, button, textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: 400;
}

/*--------------------*/
:root {
  --primary: #2196f3;
  --primary-hover: #5eaff0;
  --secondary: #e10050;
}

.items-title {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 24px;
  color: rgba(0, 0, 0, 0.54);
  margin: 0 0 20px 0;
}
@media (max-width: 650px) {
  .items-title {
    text-align: center;
  }
}

.line {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  margin: 0 0 20px 0;
}
.line button:not(:last-child) {
  margin: 0 20px 0 0;
}
@media (max-width: 650px) {
  .line {
    flex-direction: column;
  }
  .line button:not(:last-child) {
    margin: 0 0 20px 0;
  }
}
.line_block {
  display: block;
}